.App {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: gray;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.tileGrid {
    display: grid;
    width: auto;
    height: auto;
    grid-template-rows: auto auto auto auto auto auto;
    gap: 5px;
}

.row {
    grid-template-columns: auto auto auto auto auto;
    display: grid;
    gap: 5px;
}

.tile {
    display: grid;
    width: 5em;
    height: 5em;
    /* background: greenyellow; */
    border: 5px solid black;
}
